<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="This is description about generics">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>LANA DEL REY | HOME</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="store">STORE</a></li>
                <li><a href="about">ABOUT</a></li>
            </ul>
        </nav>
        <hr>
        <h1 class="band-name band-name-large">LANA DEL REY</h1>
        <div class="container">
            <button class="btn btn-header" type="button">
                <a href="store" class="get-latest-album-btn-link">Get our latest album</a></button>
        </div>

        <button class="btn btn-header btn-play" type="button">&#9658</button>
    </header>
    <section class="content-section container">
        <h2 class="section-header">Tours</h2>
        <div>
            <div class="tour-row">
                <strong class="tour-item tour-date">JUL 16</strong>
                <span class="tour-item tour-city">DETROIT, MI</span>
                <span class="tour-item tour-arena">DTE ENERGY MUSIC THEATRE</span>
                <button type="button" class="btn tour-item tour-btn btn-primary">BUY TICKETS</button>
            </div>
            <div class="tour-row">
                <strong class="tour-item tour-date">JUL 19</strong>
                <span class="tour-item tour-city">TORONTO, ON</span>
                <span class="tour-item tour-arena">BUDWEISER STAGE</span>
                <button type="button" class="btn tour-item tour-btn btn-primary">BUY TICKETS</button>
            </div>
            <div class="tour-row">
                <strong class="tour-item tour-date">JUL 22</strong>
                <span class="tour-item tour-city">BRISTOW, VA</span>
                <span class="tour-item tour-arena">JIGGY LUBE LIVE</span>
                <button type="button" class="btn tour-item tour-btn btn-primary">BUY TICKETS</button>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="main-footer-container">
            <h3 class="band-name">LANA DEL REY</h3>            

            <ul class="nav footer-nav">
                <li>
                    <a href="https://www.facebook.com/lanadelrey/" target="_blank">
                        <img src="./images/Facebook Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/artist/00FQb4jTyendYWaN8pK0wa" target="_blank">
                        <img src="./images/Spotify Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/LanaDelRey" target="_blank">
                        <img src="./images/YouTube Logo.png">
                    </a>
                </li>
            </ul>
            <a href="/users/logout" class="logout-btn-link">Logout</a>
        </div>
    </footer>
</body>

</html>
